@using QuickServePOS.Models.ViewModel.Order
@model POSOrderViewModel

<div class="container-fluid py-3">

    <!-- HEADER -->
    <input type="hidden"
           id="currentOrderId"
           value="@Model.Order.Id" />
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h3 class="fw-bold mb-0">

                Table :
                @Model.Order.TableNumber

            </h3>

            <small class="text-muted">

                Order :
                @Model.Order.OrderNo

            </small>

        </div>

        <!-- FLOATING CART BUTTON -->

        <button class="cart-btn"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#cartCanvas">

            <i class="fa-solid fa-cart-shopping"></i>

            <span class="cart-count"
                  id="cartCount">

                @Model.Order.Items.Count

            </span>

        </button>

    </div>

   

    <!-- CATEGORY BAR -->

    <div class="category-scroll mb-4">
        <button class="category-btn active-category"
                data-category="all">

            All

        </button>

        @foreach (var category in Model.Categories)
        {
            <button class="category-btn"
                    data-category="@category.Id">

                @category.Name

            </button>
        }

    </div>

    <!-- MENU ITEMS -->

    <div class="row g-4" id="menuItemsContainer">

        @foreach (var item in Model.MenuItems)
        {
            <partial name="_MenuItemCardPartial"
                     model="item" />
        }

    </div>

</div>

<!-- CART -->

<partial name="_CartCanvasPartial"
         model="Model.Order" />

@section Scripts {

    <script src="~/js/Modules/order_details.js"></script>
    <script src="~/js/Modules/cart.js"></script>
}