@using QuickServePOS.Models.ViewModel.Order
@model OrderDetailsViewModel

<div class="container-fluid">

    <input type="hidden"
           id="OrderId"
           value="@Model.Id" />

    <!-- HEADER -->

    <div class="d-flex
                justify-content-between
                align-items-center
                mb-4">

        <div>

            <h2 class="fw-bold mb-1">
                @Model.OrderNo
            </h2>

            <span class="text-muted">
                Table :
                @Model.TableName
            </span>

        </div>

        <!-- RIGHT -->

        <div class="d-flex align-items-center gap-3">

            <span class="badge bg-danger
                         px-4
                         py-2
                         rounded-pill">

                @Model.Status

            </span>

            <!-- CART BUTTON -->

            <button class="btn btn-dark
                           rounded-pill
                           position-relative"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#cartOffcanvas">

                <i class="bi bi-cart3"></i>

                Cart

                <span id="cartBadgeCount"
                      class="position-absolute
                             top-0
                             start-100
                             translate-middle
                             badge
                             rounded-pill
                             bg-danger">

                    @Model.Items.Count

                </span>

            </button>

        </div>

    </div>

    <!-- CATEGORY -->

    <div class="mb-4">

        <partial name="_CategoryTabsPartialView"
                 model="ViewBag.Categories" />

    </div>

    <!-- MENU ITEMS -->

    <div id="menuItemsContainer">

        <div class="text-center mt-5">

            <h5 class="text-muted">

                Select Category

            </h5>

        </div>

    </div>

</div>

<!-- CART OFFCANVAS -->

<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="cartOffcanvas">

    <div class="offcanvas-header">

        <h5 class="offcanvas-title">

            Order Cart

        </h5>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas">
        </button>

    </div>

    <div class="offcanvas-body">

        <div id="cartDrawerContainer">

            <partial name="_CartPartialView"
                     model="Model" />

        </div>

    </div>

</div>

@section Scripts
{
    <script src="~/js/modules/order_category.js"></script>
}